---
http_interactions:
- request:
    method: post
    uri: https://cp.pushwoosh.com/json/1.3/register
    body:
      encoding: UTF-8
      string: |-
        {
                  "request": {
                      "application": "APPLICATION_CODE",
                      "push_token": "DEVICE_PUSH_TOKEN",
                      "language": "en",
                      "hwid": "hardware device id",
                      "timezone": 3600,
                      "device_type": 1
                  }
              }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf8
      X-Pw-Cluster-Node:
      - api-01
      X-Pw-Front-Node:
      - front-07
    body:
      encoding: UTF-8
      string: '{"status_code":210,"status_message":"Application not found","response":null}'
  recorded_at: Mon, 03 Apr 2017 19:32:00 GMT
recorded_with: VCR 3.0.3
